nodered/data/lib/flows/Demo.json
[{"id":"6c816bc4.01ed34","type":"ttn message","z":"6fcb5df6.26a264","name":"Demo Device","app":"1e5a2f3d.c70721","dev_id":"prot1","field":"","x":210,"y":160,"wires":[["64af0eff.6ebf8","411fd5d3.dd715c"]]},{"id":"4fc042d1.ae12ac","type":"debug","z":"6fcb5df6.26a264","name":"device","active":true,"console":"false","complete":"true","x":380.00004959106445,"y":81.0000057220459,"wires":[]},{"id":"64af0eff.6ebf8","type":"function","z":"6fcb5df6.26a264","name":"function","func":"if (msg.payload.distance !== undefined){\n    return {\n        data: {\n            distance: msg.payload.distance,\n            stamp: msg.metadata.time,\n            dev_id: msg.dev_id,\n            app_id: msg.app_id\n        }\n    };    \n}","outputs":1,"noerr":0,"x":389.00004959106445,"y":220.00000476837158,"wires":[["74811d64.5e2b54","62ced55d.bdf39c"]]},{"id":"97f5f2ff.1571c","type":"ttn device","z":"6fcb5df6.26a264","name":"Demo Device","app":"1e5a2f3d.c70721","dev_id":"prot1","event":"activations","x":209.00006866455078,"y":81.00001335144043,"wires":[["4fc042d1.ae12ac"]]},{"id":"411fd5d3.dd715c","type":"debug","z":"6fcb5df6.26a264","name":"message","active":true,"console":"false","complete":"true","x":388.000057220459,"y":161.0000295639038,"wires":[]},{"id":"74811d64.5e2b54","type":"debug","z":"6fcb5df6.26a264","name":"function","active":true,"console":"false","complete":"true","x":560,"y":220,"wires":[]},{"id":"62ced55d.bdf39c","type":"crate out","z":"6fcb5df6.26a264","name":"Crate DB Demo","database":"a4b18e44.e5457","table":"demo","x":580.213981628418,"y":281.42833518981934,"wires":[]},{"id":"1e5a2f3d.c70721","type":"ttn app","z":"","appId":"uh17-ibin","region":"eu","accessKey":"ttn-account-v2.LFpgz6jw7_Zfqyy_wPsYbcdn5VNPujqrR24ix6EDDGY"},{"id":"a4b18e44.e5457","type":"crate","z":"","url":"http://localhost:4200","name":"Crate DB"}]