nodered/data/lib/flows/Demo.json
[{"id":"e3cc03b3.86fc1","type":"ttn message","z":"748cd828.a357e8","name":"Demo Device","app":"6160482b.605a68","dev_id":"prot1","field":"","x":110,"y":140,"wires":[["e08c8487.f90bb8","bae24fd5.85d8a"]]},{"id":"e8d52e6c.2adf3","type":"debug","z":"748cd828.a357e8","name":"device","active":true,"console":"false","complete":"true","x":280.00004959106445,"y":61.0000057220459,"wires":[]},{"id":"e08c8487.f90bb8","type":"function","z":"748cd828.a357e8","name":"function","func":"if (msg.payload.distance !== undefined){\n    return {\n        data: {\n            distance: msg.payload.distance,\n            stamp: msg.metadata.time,\n            dev_id: msg.dev_id,\n            app_id: msg.app_id\n        }\n    };    \n}","outputs":1,"noerr":0,"x":289.00004959106445,"y":200.00000476837158,"wires":[["e44d6ebd.a54f4","4162b07a.64067"]]},{"id":"768135b3.d9551c","type":"ttn device","z":"748cd828.a357e8","name":"Demo Device","app":"6160482b.605a68","dev_id":"prot1","event":"activations","x":109.00006866455078,"y":61.00001335144043,"wires":[["e8d52e6c.2adf3"]]},{"id":"bae24fd5.85d8a","type":"debug","z":"748cd828.a357e8","name":"message","active":true,"console":"false","complete":"true","x":288.000057220459,"y":141.0000295639038,"wires":[]},{"id":"e44d6ebd.a54f4","type":"debug","z":"748cd828.a357e8","name":"function","active":true,"console":"false","complete":"true","x":460,"y":200,"wires":[]},{"id":"4162b07a.64067","type":"crate out","z":"748cd828.a357e8","name":"Crate DB Demo","database":"b1ccb24a.791cc","table":"demo","x":480.21398162841797,"y":261.42833518981934,"wires":[]},{"id":"6160482b.605a68","type":"ttn app","z":"","appId":"uh17-ibin","region":"eu","accessKey":"ttn-account-v2.LFpgz6jw7_Zfqyy_wPsYbcdn5VNPujqrR24ix6EDDGY"},{"id":"b1ccb24a.791cc","type":"crate","z":"","url":"http://172.16.238.10:4200","name":"Crate DB"}]