nodered/data/lib/flows/Demo.json
[{"id":"7b0b974f.bc7778","type":"ttn message","z":"49eb464.d0602b8","name":"Demo Device","app":"79172e29.ebe54","dev_id":"prot1","field":"","x":110,"y":160,"wires":[["93383a3.8d84bc8","f7561673.5dce68"]]},{"id":"b71b80cb.bc3c9","type":"debug","z":"49eb464.d0602b8","name":"device","active":true,"console":"false","complete":"true","x":280.00004959106445,"y":81.0000057220459,"wires":[]},{"id":"93383a3.8d84bc8","type":"function","z":"49eb464.d0602b8","name":"function","func":"if (msg.payload.distance !== undefined){\n    return {\n        data: {\n            distance: msg.payload.distance,\n            stamp: msg.metadata.time,\n            dev_id: msg.dev_id,\n            app_id: msg.app_id\n        }\n    };    \n}","outputs":1,"noerr":0,"x":289.00004959106445,"y":220.00000476837158,"wires":[["76a1c752.401c68","6506fc38.0624c4"]]},{"id":"ea89acea.b22cd","type":"ttn device","z":"49eb464.d0602b8","name":"Demo Device","app":"79172e29.ebe54","dev_id":"prot1","event":"activations","x":109.00006866455078,"y":81.00001335144043,"wires":[["b71b80cb.bc3c9"]]},{"id":"f7561673.5dce68","type":"debug","z":"49eb464.d0602b8","name":"message","active":true,"console":"false","complete":"true","x":288.000057220459,"y":161.0000295639038,"wires":[]},{"id":"76a1c752.401c68","type":"debug","z":"49eb464.d0602b8","name":"function","active":true,"console":"false","complete":"true","x":460,"y":220,"wires":[]},{"id":"6506fc38.0624c4","type":"crate out","z":"49eb464.d0602b8","name":"Crate DB Demo","database":"64670f9c.dfff2","table":"demo","x":480.21398162841797,"y":281.42833518981934,"wires":[]},{"id":"79172e29.ebe54","type":"ttn app","z":"","appId":"uh17-ibin","region":"eu","accessKey":"ttn-account-v2.LFpgz6jw7_Zfqyy_wPsYbcdn5VNPujqrR24ix6EDDGY"},{"id":"64670f9c.dfff2","type":"crate","z":"","url":"http://172.16.238.10:4200","name":"Crate DB"}]