data/nodered/.flows_dab0533135e3.json.backup
[{"id":"3a39e48b.41b4ec","type":"tab","label":"Flow 1"},{"id":"816c9320.197d5","type":"ttn app","z":"","appId":"uh17-ibin","region":"ttn-handler-eu","accessKey":"ttn-account-v2.ClA_l-jOLJODJQdzzeILx_YZIttKzAoX-7Xqz-0jayY"},{"id":"c5abc87e.e74c48","type":"crate","z":"","url":"http://localhost:4200","name":"Crate DB"},{"id":"fe7b799d.c30648","type":"ttn app","z":"3a39e48b.41b4ec","appId":"","region":"","accessKey":""},{"id":"88776262.80084","type":"ttn message","z":"3a39e48b.41b4ec","name":"test","app":"816c9320.197d5","dev_id":"prot1","field":"","x":136.00000762939453,"y":188.0000228881836,"wires":[["ef5b69ec.df5c58","bbcf5a24.7a3758"]]},{"id":"255b2e2e.344752","type":"debug","z":"3a39e48b.41b4ec","name":"device","active":true,"console":"false","complete":"true","x":411.00000762939453,"y":100.0000228881836,"wires":[]},{"id":"3185c8a0.937fb8","type":"ttn send","z":"3a39e48b.41b4ec","name":"test","app":"816c9320.197d5","dev_id":"prot1","port":"","x":440.00000762939453,"y":362.0000228881836,"wires":[]},{"id":"ef5b69ec.df5c58","type":"function","z":"3a39e48b.41b4ec","name":"function","func":"return {\n    dev_id: msg.dev_id,\n    port: msg.port,\n    payload: {\n        led: !msg.payload\n    }\n};","outputs":1,"noerr":0,"x":298.00000762939453,"y":292.0000228881836,"wires":[["3185c8a0.937fb8","c5d39052.3b7ec"]]},{"id":"b928b814.139f08","type":"ttn device","z":"3a39e48b.41b4ec","name":"test","app":"816c9320.197d5","dev_id":"prot1","event":"activations","x":139.00000762939453,"y":100.0000228881836,"wires":[["255b2e2e.344752"]]},{"id":"bbcf5a24.7a3758","type":"debug","z":"3a39e48b.41b4ec","name":"message","active":true,"console":"false","complete":"true","x":407.00000762939453,"y":194.0000228881836,"wires":[]},{"id":"c5d39052.3b7ec","type":"debug","z":"3a39e48b.41b4ec","name":"function","active":true,"console":"false","complete":"true","x":451.00000762939453,"y":279.0000228881836,"wires":[]}]