data/nodered/.flows_33d9c8196bf1.json.backup
[{"id":"c3538e08.70d6b","type":"tab","label":"Flow 1"},{"id":"fb3f103a.9339d","type":"ttn app","z":"","appId":"uh17-ibin","region":"eu","accessKey":"ttn-account-v2.LFpgz6jw7_Zfqyy_wPsYbcdn5VNPujqrR24ix6EDDGY"},{"id":"9162773.05e0d88","type":"crate","z":"","url":"http://localhost:4200","name":"Crate DB"},{"id":"b37876c9.ee43e8","type":"ttn message","z":"c3538e08.70d6b","name":"test","app":"fb3f103a.9339d","dev_id":"prot1","field":"","x":79.99995040893555,"y":158.9999942779541,"wires":[["4f004157.56fa7","ffffdedb.b4b14"]]},{"id":"f60dc489.910288","type":"debug","z":"c3538e08.70d6b","name":"device","active":true,"console":"false","complete":"true","x":230,"y":80,"wires":[]},{"id":"d3feaf1d.f9068","type":"ttn send","z":"c3538e08.70d6b","name":"test","app":"fb3f103a.9339d","dev_id":"prot1","port":"","x":416.0002784729004,"y":219.0000514984131,"wires":[]},{"id":"4f004157.56fa7","type":"function","z":"c3538e08.70d6b","name":"function","func":"return {\n    dev_id: msg.dev_id,\n    port: msg.port,\n    payload: {\n        distance: parseFloat(msg.payload.distance)\n    }\n};","outputs":1,"noerr":0,"x":239,"y":218.99999904632568,"wires":[["3e578dbf.fabe32","d3feaf1d.f9068"]]},{"id":"b8c81284.33a68","type":"ttn device","z":"c3538e08.70d6b","name":"test","app":"fb3f103a.9339d","dev_id":"prot1","event":"activations","x":79.00001907348633,"y":80.00000762939453,"wires":[["f60dc489.910288"]]},{"id":"ffffdedb.b4b14","type":"debug","z":"c3538e08.70d6b","name":"message","active":true,"console":"false","complete":"true","x":238.00000762939453,"y":160.0000238418579,"wires":[]},{"id":"e36f20bb.d27cb","type":"debug","z":"c3538e08.70d6b","name":"function","active":true,"console":"false","complete":"true","x":731.0002632141113,"y":283.0001621246338,"wires":[]},{"id":"3e578dbf.fabe32","type":"function","z":"c3538e08.70d6b","name":"function","func":"if (msg.payload.distance !== undefined){\n    return {\n        data: {\n            distance: msg.payload.distance,\n            stamp: new Date(),\n        }\n    };    \n}\n","outputs":"1","noerr":0,"x":426.21424865722656,"y":282.714391708374,"wires":[["33820957.7deb46"]]},{"id":"33820957.7deb46","type":"switch","z":"c3538e08.70d6b","name":"switch","property":"data.distance","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":570.2142906188965,"y":283.4284954071045,"wires":[["e36f20bb.d27cb","859a2428.be4bc8"]]},{"id":"859a2428.be4bc8","type":"crate out","z":"c3538e08.70d6b","name":"Crate DB Demo","database":"9162773.05e0d88","table":"demo","x":751.2142448425293,"y":344.4284973144531,"wires":[]}]