data/nodered/.flows_65e7a59101ea.json.backup
[{"id":"be226f12.b0911","type":"tab","label":"Flow 1"},{"id":"87893c3.dc98dc","type":"ttn app","z":"","appId":"uh17-ibin","region":"eu","accessKey":"ttn-account-v2.LFpgz6jw7_Zfqyy_wPsYbcdn5VNPujqrR24ix6EDDGY"},{"id":"58e2f910.5d5358","type":"crate","z":"","url":"http://localhost:4200","name":"Crate DB"},{"id":"50b741d2.bfc7","type":"crate","z":"","url":"http://localhost:4200","name":"Crate DB"},{"id":"c7fdfb6d.d42378","type":"ttn message","z":"be226f12.b0911","name":"test","app":"87893c3.dc98dc","dev_id":"prot1","field":"","x":193.33331298828125,"y":686.6666259765625,"wires":[["5c83c938.0e6da8","5ef1dc14.127144"]]},{"id":"d9206104.b5c6b","type":"debug","z":"be226f12.b0911","name":"device","active":false,"console":"false","complete":"true","x":468.33331298828125,"y":598.6666259765625,"wires":[]},{"id":"af55c03d.d533e","type":"ttn send","z":"be226f12.b0911","name":"test","app":"87893c3.dc98dc","dev_id":"prot1","port":"","x":736.3336067199707,"y":789.6666550636292,"wires":[]},{"id":"5c83c938.0e6da8","type":"function","z":"be226f12.b0911","name":"function","func":"return {\n    dev_id: msg.dev_id,\n    port: msg.port,\n    payload: {\n        distance: parseFloat(msg.payload.distance)\n    }\n};","outputs":1,"noerr":0,"x":355.33331298828125,"y":790.6666259765625,"wires":[["f725499c.b49a08"]]},{"id":"b69b4bf4.a7b888","type":"ttn device","z":"be226f12.b0911","name":"test","app":"87893c3.dc98dc","dev_id":"prot1","event":"activations","x":192.33337783813477,"y":596.6666393280029,"wires":[["d9206104.b5c6b"]]},{"id":"5ef1dc14.127144","type":"debug","z":"be226f12.b0911","name":"message","active":false,"console":"false","complete":"true","x":463.33333587646484,"y":688.6666417121887,"wires":[]},{"id":"6b44d581.75384c","type":"debug","z":"be226f12.b0911","name":"function","active":true,"console":"false","complete":"true","x":755.3336124420166,"y":875.6667532920837,"wires":[]},{"id":"f725499c.b49a08","type":"function","z":"be226f12.b0911","name":"function","func":"if (msg.payload.distance !== undefined){\n    return {\n        data: {\n            distance: msg.payload.distance,\n            time: new Date(),\n        }\n    };    \n}\n","outputs":"1","noerr":0,"x":509.54761505126953,"y":790.3809974193573,"wires":[["af55c03d.d533e","9ab96a1e.c485e8"]]},{"id":"9ab96a1e.c485e8","type":"switch","z":"be226f12.b0911","name":"switch","property":"data.distance","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":611.5476093292236,"y":907.0950856208801,"wires":[["6b44d581.75384c","d1fdf22c.ac40a"]]},{"id":"d1fdf22c.ac40a","type":"crate out","z":"be226f12.b0911","name":"Crate DB Demo","database":"50b741d2.bfc7","table":"demo","x":775.5475940704346,"y":937.0950884819031,"wires":[]}]