data/nodered/.flows_c0f5f11c93cf.json.backup
[{"id":"493514e3.46209c","type":"tab","label":"Demo","disabled":false,"info":""},{"id":"6013066b.13ba98","type":"ttn app","z":"","appId":"uh17-ibin","region":"eu","accessKey":"ttn-account-v2.LFpgz6jw7_Zfqyy_wPsYbcdn5VNPujqrR24ix6EDDGY"},{"id":"88f5feda.46ee4","type":"crate","z":"","url":"http://localhost:4200","name":"Crate DB"},{"id":"f62f0e49.2267f","type":"ttn message","z":"493514e3.46209c","name":"test","app":"6013066b.13ba98","dev_id":"prot1","field":"","x":132.00006484985352,"y":210.00005054473877,"wires":[["2b77752f.aadb2a","d0d17d4f.93c09"]]},{"id":"ddf5d739.6457c8","type":"debug","z":"493514e3.46209c","name":"device","active":true,"console":"false","complete":"true","x":282.00011444091797,"y":131.00005626678467,"wires":[]},{"id":"5c5eb771.b2ff38","type":"ttn send","z":"493514e3.46209c","name":"test","app":"6013066b.13ba98","dev_id":"prot1","port":"","x":468.00039291381836,"y":270.00010776519775,"wires":[]},{"id":"2b77752f.aadb2a","type":"function","z":"493514e3.46209c","name":"function","func":"return {\n    dev_id: msg.dev_id,\n    port: msg.port,\n    payload: {\n        data: {\n            date: new Date(),\n            distance: parseFloat(msg.payload.distance)\n        }\n    }\n};","outputs":1,"noerr":0,"x":291.00011444091797,"y":270.00005531311035,"wires":[["5c5eb771.b2ff38","afbd328d.0532a","aea337c.f3244c8"]]},{"id":"561a0f2c.c732e","type":"ttn device","z":"493514e3.46209c","name":"test","app":"6013066b.13ba98","dev_id":"prot1","event":"activations","x":131.0001335144043,"y":131.0000638961792,"wires":[["ddf5d739.6457c8"]]},{"id":"d0d17d4f.93c09","type":"debug","z":"493514e3.46209c","name":"message","active":true,"console":"false","complete":"true","x":290.0001220703125,"y":211.00008010864258,"wires":[]},{"id":"afbd328d.0532a","type":"debug","z":"493514e3.46209c","name":"function","active":true,"console":"false","complete":"true","x":479.00042724609375,"y":333.0002498626709,"wires":[]},{"id":"43c5c03e.ab8d1","type":"crate out","z":"493514e3.46209c","name":"Crate DB Demo","database":"88f5feda.46ee4","table":"demo","x":652.2144241333008,"y":395.42866134643555,"wires":[]},{"id":"aea337c.f3244c8","type":"switch","z":"493514e3.46209c","name":"switch","property":"payload.data.distance","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":469.21439361572266,"y":395.42866039276123,"wires":[["43c5c03e.ab8d1"]]}]