data/nodered/flows_c0f5f11c93cf.json
[{"id":"493514e3.46209c","type":"tab","label":"Demo","disabled":false,"info":""},{"id":"6013066b.13ba98","type":"ttn app","z":"","appId":"uh17-ibin","region":"eu","accessKey":"ttn-account-v2.LFpgz6jw7_Zfqyy_wPsYbcdn5VNPujqrR24ix6EDDGY"},{"id":"88f5feda.46ee4","type":"crate","z":"","url":"http://localhost:4200","name":"Crate DB"},{"id":"ddf3176e.a2a098","type":"ttn message","z":"493514e3.46209c","name":"test","app":"6013066b.13ba98","dev_id":"prot1","field":"","x":95.99999237060547,"y":483.9999694824219,"wires":[["442f0637.256ae8","aae6ca6.7d1f438"]]},{"id":"3d8c399.0b875c6","type":"debug","z":"493514e3.46209c","name":"device","active":false,"console":"false","complete":"true","x":246.00004196166992,"y":404.9999752044678,"wires":[]},{"id":"363031ea.4fe97e","type":"ttn send","z":"493514e3.46209c","name":"test","app":"6013066b.13ba98","dev_id":"prot1","port":"","x":432.0003204345703,"y":544.0000267028809,"wires":[]},{"id":"442f0637.256ae8","type":"function","z":"493514e3.46209c","name":"function","func":"return {\n    dev_id: msg.dev_id,\n    port: msg.port,\n    payload: {\n        distance: parseFloat(msg.payload.distance)\n    }\n};","outputs":1,"noerr":0,"x":255.00004196166992,"y":543.9999742507935,"wires":[["839ecfb4.cd18","363031ea.4fe97e"]]},{"id":"1d896ce6.371ac3","type":"ttn device","z":"493514e3.46209c","name":"test","app":"6013066b.13ba98","dev_id":"prot1","event":"activations","x":95.00006103515625,"y":404.9999828338623,"wires":[["3d8c399.0b875c6"]]},{"id":"aae6ca6.7d1f438","type":"debug","z":"493514e3.46209c","name":"message","active":false,"console":"false","complete":"true","x":254.00004959106445,"y":484.9999990463257,"wires":[]},{"id":"77b91927.f4e1d8","type":"debug","z":"493514e3.46209c","name":"function","active":true,"console":"false","complete":"true","x":747.0003051757812,"y":608.0001373291016,"wires":[]},{"id":"839ecfb4.cd18","type":"function","z":"493514e3.46209c","name":"function","func":"if (msg.payload.distance !== undefined){\n    return {\n        data: {\n            distance: msg.payload.distance,\n            time: new Date(),\n        }\n    };    \n}\n","outputs":"1","noerr":0,"x":442.2142906188965,"y":607.7143669128418,"wires":[["36d6114d.a9d9ee"]]},{"id":"36d6114d.a9d9ee","type":"switch","z":"493514e3.46209c","name":"switch","property":"data","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":586.2143325805664,"y":608.4284706115723,"wires":[["77b91927.f4e1d8","bb6d59cb.f89868"]]},{"id":"bb6d59cb.f89868","type":"crate out","z":"493514e3.46209c","name":"Crate DB Demo","database":"88f5feda.46ee4","table":"demo","x":767.2142868041992,"y":669.4284725189209,"wires":[]}]