data/nodered/flows_65e7a59101ea.json
[{"id":"be226f12.b0911","type":"tab","label":"Flow 1"},{"id":"87893c3.dc98dc","type":"ttn app","z":"","appId":"uh17-ibin","region":"eu","accessKey":"ttn-account-v2.LFpgz6jw7_Zfqyy_wPsYbcdn5VNPujqrR24ix6EDDGY"},{"id":"50b741d2.bfc7","type":"crate","z":"","url":"http://localhost:4200","name":"Crate DB"},{"id":"3ef78868.8743a8","type":"ttn message","z":"be226f12.b0911","name":"test","app":"87893c3.dc98dc","dev_id":"prot1","field":"","x":303.33331298828125,"y":631.111083984375,"wires":[["e597ee12.c6f08","38d10392.b788ec"]]},{"id":"2335db88.3bd784","type":"debug","z":"be226f12.b0911","name":"device","active":false,"console":"false","complete":"true","x":578.3333129882812,"y":543.111083984375,"wires":[]},{"id":"fc82de51.cd028","type":"ttn send","z":"be226f12.b0911","name":"test","app":"87893c3.dc98dc","dev_id":"prot1","port":"","x":846.3336067199707,"y":734.1111130714417,"wires":[]},{"id":"e597ee12.c6f08","type":"function","z":"be226f12.b0911","name":"function","func":"return {\n    dev_id: msg.dev_id,\n    port: msg.port,\n    payload: {\n        distance: parseFloat(msg.payload.distance)\n    }\n};","outputs":1,"noerr":0,"x":465.33331298828125,"y":735.111083984375,"wires":[["1ff5c3e0.19515c"]]},{"id":"6414a913.d372a8","type":"ttn device","z":"be226f12.b0911","name":"test","app":"87893c3.dc98dc","dev_id":"prot1","event":"activations","x":302.33337783813477,"y":541.1110973358154,"wires":[["2335db88.3bd784"]]},{"id":"38d10392.b788ec","type":"debug","z":"be226f12.b0911","name":"message","active":false,"console":"false","complete":"true","x":573.3333358764648,"y":633.1110997200012,"wires":[]},{"id":"28180e5a.db81f2","type":"debug","z":"be226f12.b0911","name":"function","active":true,"console":"false","complete":"true","x":865.3336124420166,"y":820.1112112998962,"wires":[]},{"id":"1ff5c3e0.19515c","type":"function","z":"be226f12.b0911","name":"function","func":"if (msg.payload.distance !== undefined){\n    return {\n        data: {\n            distance: msg.payload.distance,\n            time: new Date(),\n        }\n    };    \n}\n","outputs":"1","noerr":0,"x":619.5476150512695,"y":734.8254554271698,"wires":[["fc82de51.cd028","1ff50daa.d304d2"]]},{"id":"1ff50daa.d304d2","type":"switch","z":"be226f12.b0911","name":"switch","property":"data.distance","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":721.5476093292236,"y":851.5395436286926,"wires":[["28180e5a.db81f2","c1ca5e72.d7fc4"]]},{"id":"c1ca5e72.d7fc4","type":"crate out","z":"be226f12.b0911","name":"Crate DB Demo","database":"50b741d2.bfc7","table":"demo","x":885.5475940704346,"y":881.5395464897156,"wires":[]}]