data/nodered/flows_184454f2acb6.json
[{"id":"6e5adb75.1fa364","type":"tab","label":"Flow 1"},{"id":"53e5146d.2460fc","type":"ttn app","z":"","appId":"uh17-ibin","region":"eu","accessKey":"ttn-account-v2.LFpgz6jw7_Zfqyy_wPsYbcdn5VNPujqrR24ix6EDDGY"},{"id":"683dcf41.ab75b","type":"crate","z":"","url":"http://locahost:4200","name":"Crate DB"},{"id":"bd0ca326.15f4e","type":"ttn message","z":"6e5adb75.1fa364","name":"test","app":"53e5146d.2460fc","dev_id":"prot1","field":"","x":127.99999618530273,"y":177.999981880188,"wires":[["76453afc.d57794","b45838a8.ade348"]]},{"id":"d03aee28.3b1a8","type":"debug","z":"6e5adb75.1fa364","name":"device","active":false,"console":"false","complete":"true","x":273.0000343322754,"y":87.99998188018799,"wires":[]},{"id":"c1106b63.2841b8","type":"ttn send","z":"6e5adb75.1fa364","name":"test","app":"53e5146d.2460fc","dev_id":"prot1","port":"","x":605.0001182556152,"y":304.00006198883057,"wires":[]},{"id":"76453afc.d57794","type":"function","z":"6e5adb75.1fa364","name":"function","func":"return {\n    dev_id: msg.dev_id,\n    port: msg.port,\n    payload: {\n        distance: parseFloat(msg.payload.distance)\n    }\n};","outputs":1,"noerr":0,"x":289.99999618530273,"y":281.999981880188,"wires":[["7e8ee334.e5611c"]]},{"id":"79a4c699.c69558","type":"ttn device","z":"6e5adb75.1fa364","name":"test","app":"53e5146d.2460fc","dev_id":"prot1","event":"activations","x":127.00006103515625,"y":87.99999523162842,"wires":[["d03aee28.3b1a8"]]},{"id":"b45838a8.ade348","type":"debug","z":"6e5adb75.1fa364","name":"message","active":false,"console":"false","complete":"true","x":285.0000286102295,"y":177.9999828338623,"wires":[]},{"id":"fe165390.7c38c","type":"debug","z":"6e5adb75.1fa364","name":"function","active":true,"console":"false","complete":"payload.distance","x":616.0001182556152,"y":258.0001440048218,"wires":[]},{"id":"ba44aab7.7b3948","type":"crate out","z":"6e5adb75.1fa364","name":"Crate DB Demo","database":"683dcf41.ab75b","table":"demo","x":492.21429443359375,"y":444.71429538726807,"wires":[]},{"id":"7e8ee334.e5611c","type":"function","z":"6e5adb75.1fa364","name":"function","func":"if (msg !== undefined){\n    return {\n        data: msg\n    }\n}","outputs":1,"noerr":0,"x":448.21428298950195,"y":282.5714979171753,"wires":[["fe165390.7c38c","c1106b63.2841b8","ba44aab7.7b3948"]]}]