data/nodered/flows_dab0533135e3.json
[{"id":"388fb8dd.29cc48","type":"tab","label":"Flow 2"},{"id":"816c9320.197d5","type":"ttn app","z":"","appId":"uh17-ibin","region":"eu","accessKey":"ttn-account-v2.LFpgz6jw7_Zfqyy_wPsYbcdn5VNPujqrR24ix6EDDGY"},{"id":"c5abc87e.e74c48","type":"crate","z":"","url":"http://localhost:4200","name":"Crate DB"},{"id":"cea98ac6.7911c8","type":"ttn message","z":"388fb8dd.29cc48","name":"test","app":"816c9320.197d5","dev_id":"prot1","field":"","x":121.99999237060547,"y":243.99998474121094,"wires":[["9152637c.e3f7","52d852ba.0cca0c"]]},{"id":"7667d038.70226","type":"debug","z":"388fb8dd.29cc48","name":"device","active":true,"console":"false","complete":"true","x":396.99999237060547,"y":155.99998474121094,"wires":[]},{"id":"c7cd8fb8.0c43d","type":"ttn send","z":"388fb8dd.29cc48","name":"test","app":"816c9320.197d5","dev_id":"prot1","port":"","x":459.99999237060547,"y":417.99999809265137,"wires":[]},{"id":"9152637c.e3f7","type":"function","z":"388fb8dd.29cc48","name":"function","func":"return {\n    dev_id: msg.dev_id,\n    port: msg.port,\n    payload: {\n        led: !msg.payload\n    }\n};","outputs":1,"noerr":0,"x":283.99999237060547,"y":347.99998474121094,"wires":[["c7cd8fb8.0c43d","80522be0.17b5c8"]]},{"id":"bf17e40a.aaa2a8","type":"ttn device","z":"388fb8dd.29cc48","name":"test","app":"816c9320.197d5","dev_id":"prot1","event":"activations","x":121.00005722045898,"y":153.99999809265137,"wires":[["7667d038.70226"]]},{"id":"52d852ba.0cca0c","type":"debug","z":"388fb8dd.29cc48","name":"message","active":true,"console":"false","complete":"true","x":392.99999237060547,"y":249.99998474121094,"wires":[]},{"id":"80522be0.17b5c8","type":"debug","z":"388fb8dd.29cc48","name":"function","active":true,"console":"false","complete":"true","x":445.99999618530273,"y":335.0000219345093,"wires":[]}]