nodered/data/flows_b8f2b2961c47.json
[{"id":"5ba16d63.280b94","type":"tab","label":"Flow 1"},{"id":"2bef78cd.2148f8","type":"ttn app","z":"","appId":"uh17-ibin","region":"eu","accessKey":"ttn-account-v2.LFpgz6jw7_Zfqyy_wPsYbcdn5VNPujqrR24ix6EDDGY"},{"id":"631bac93.44aed4","type":"crate","z":"","url":"http://localhost:4200","name":"Crate DB"},{"id":"fad2698c.471c68","type":"ttn message","z":"5ba16d63.280b94","name":"Demo Device","app":"2bef78cd.2148f8","dev_id":"prot1","field":"","x":130,"y":160,"wires":[["5fa0a3a2.2c0d4c","e36c47e0.9420b8"]]},{"id":"f3b2db47.a4df28","type":"debug","z":"5ba16d63.280b94","name":"device","active":true,"console":"false","complete":"true","x":300.00004959106445,"y":81.0000057220459,"wires":[]},{"id":"25c465e6.5fae8a","type":"ttn send","z":"5ba16d63.280b94","name":"Demo Device","app":"2bef78cd.2148f8","dev_id":"prot1","port":"","x":490.00004959106445,"y":221.0000057220459,"wires":[]},{"id":"5fa0a3a2.2c0d4c","type":"function","z":"5ba16d63.280b94","name":"function","func":"return {\n    dev_id: msg.dev_id,\n    port: msg.port,\n    payload: {\n        distance: parseFloat(msg.payload.distance)\n    }\n};","outputs":1,"noerr":0,"x":309.00004959106445,"y":220.00000476837158,"wires":[["842dd4bc.382538","25c465e6.5fae8a"]]},{"id":"52d94055.a6226","type":"ttn device","z":"5ba16d63.280b94","name":"Demo Device","app":"2bef78cd.2148f8","dev_id":"prot1","event":"activations","x":129.00006866455078,"y":81.00001335144043,"wires":[["f3b2db47.a4df28"]]},{"id":"e36c47e0.9420b8","type":"debug","z":"5ba16d63.280b94","name":"message","active":true,"console":"false","complete":"true","x":308.000057220459,"y":161.0000295639038,"wires":[]},{"id":"bc2a56a1.a9bc48","type":"debug","z":"5ba16d63.280b94","name":"function","active":true,"console":"false","complete":"true","x":790.0000495910645,"y":286.0000057220459,"wires":[]},{"id":"842dd4bc.382538","type":"function","z":"5ba16d63.280b94","name":"function","func":"if (msg.payload.distance !== undefined){\n    return {\n        data: {\n            distance: msg.payload.distance,\n            stamp: new Date(),\n        }\n    };    \n}\n","outputs":"1","noerr":0,"x":470.2140197753906,"y":284.71434593200684,"wires":[["77c850ad.fab48"]]},{"id":"77c850ad.fab48","type":"switch","z":"5ba16d63.280b94","name":"switch","property":"data.distance","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":620.0000495910645,"y":285.0000057220459,"wires":[["bc2a56a1.a9bc48","1a1e8656.1ccfaa"]]},{"id":"1a1e8656.1ccfaa","type":"crate out","z":"5ba16d63.280b94","name":"Crate DB Demo","database":"631bac93.44aed4","table":"demo","x":810.2140312194824,"y":347.42834091186523,"wires":[]}]