nodered/data/flows_0ac79423d431.json
[{"id":"7c576ddb.d51314","type":"tab","label":"Flow 1"},{"id":"afb86052.7e8ec","type":"ttn app","z":"","appId":"uh17-ibin","region":"eu","accessKey":"ttn-account-v2.LFpgz6jw7_Zfqyy_wPsYbcdn5VNPujqrR24ix6EDDGY"},{"id":"d155ce6.18aa03","type":"crate","z":"","url":"http://172.16.238.10:4200","name":"Crate DB"},{"id":"79c2ebb6.31ccb4","type":"ttn message","z":"7c576ddb.d51314","name":"Demo Device","app":"afb86052.7e8ec","dev_id":"prot1","field":"","x":110,"y":140,"wires":[["1b9a8c11.424194","887e2a22.99a668"]]},{"id":"cb14a135.3b33f","type":"debug","z":"7c576ddb.d51314","name":"device","active":true,"console":"false","complete":"true","x":280.00004959106445,"y":61.0000057220459,"wires":[]},{"id":"efac2140.74559","type":"ttn send","z":"7c576ddb.d51314","name":"Demo Device","app":"afb86052.7e8ec","dev_id":"prot1","port":"","x":470.00004959106445,"y":201.0000057220459,"wires":[]},{"id":"1b9a8c11.424194","type":"function","z":"7c576ddb.d51314","name":"function","func":"return {\n    dev_id: msg.dev_id,\n    port: msg.port,\n    payload: {\n        distance: parseFloat(msg.payload.distance)\n    }\n};","outputs":1,"noerr":0,"x":289.00004959106445,"y":200.00000476837158,"wires":[["d653ec63.7b7e7","efac2140.74559"]]},{"id":"d098934f.bb65","type":"ttn device","z":"7c576ddb.d51314","name":"Demo Device","app":"afb86052.7e8ec","dev_id":"prot1","event":"activations","x":109.00006866455078,"y":61.00001335144043,"wires":[["cb14a135.3b33f"]]},{"id":"887e2a22.99a668","type":"debug","z":"7c576ddb.d51314","name":"message","active":true,"console":"false","complete":"true","x":288.000057220459,"y":141.0000295639038,"wires":[]},{"id":"7384ca6b.8ee204","type":"debug","z":"7c576ddb.d51314","name":"function","active":true,"console":"false","complete":"true","x":770.0000495910645,"y":266.0000057220459,"wires":[]},{"id":"d653ec63.7b7e7","type":"function","z":"7c576ddb.d51314","name":"function","func":"if (msg.payload.distance !== undefined){\n    return {\n        data: {\n            distance: msg.payload.distance,\n            stamp: new Date(),\n        }\n    };    \n}\n","outputs":"1","noerr":0,"x":450.2140197753906,"y":264.71434593200684,"wires":[["53640623.50e0c8"]]},{"id":"53640623.50e0c8","type":"switch","z":"7c576ddb.d51314","name":"switch","property":"data.distance","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":600.0000495910645,"y":265.0000057220459,"wires":[["7384ca6b.8ee204","893eac45.ed4d6"]]},{"id":"893eac45.ed4d6","type":"crate out","z":"7c576ddb.d51314","name":"Crate DB Demo","database":"d155ce6.18aa03","table":"demo","x":790.2140312194824,"y":327.42834091186523,"wires":[]}]