nodered/data/flows_c0c9e0ccd7c2.json
[{"id":"c45f103b.55859","type":"tab","label":"Flow 1"},{"id":"17fe8b4c.439415","type":"ttn app","z":"","appId":"uh17-ibin","region":"eu","accessKey":"ttn-account-v2.LFpgz6jw7_Zfqyy_wPsYbcdn5VNPujqrR24ix6EDDGY"},{"id":"11b653f7.7dbbac","type":"crate","z":"","url":"http://localhost:4200","name":"Crate DB"},{"id":"22c14d66.fe07e2","type":"ttn message","z":"c45f103b.55859","name":"Demo Device","app":"17fe8b4c.439415","dev_id":"prot1","field":"","x":130,"y":140,"wires":[["a382ef77.2aa05","293ab68b.58794a"]]},{"id":"cd4b397a.8be788","type":"debug","z":"c45f103b.55859","name":"device","active":true,"console":"false","complete":"true","x":300.00004959106445,"y":61.0000057220459,"wires":[]},{"id":"ba5dac24.d6752","type":"ttn send","z":"c45f103b.55859","name":"Demo Device","app":"17fe8b4c.439415","dev_id":"prot1","port":"","x":490.00004959106445,"y":201.0000057220459,"wires":[]},{"id":"a382ef77.2aa05","type":"function","z":"c45f103b.55859","name":"function","func":"return {\n    dev_id: msg.dev_id,\n    port: msg.port,\n    payload: {\n        distance: parseFloat(msg.payload.distance)\n    }\n};","outputs":1,"noerr":0,"x":309.00004959106445,"y":200.00000476837158,"wires":[["c5a460.aa449ba","ba5dac24.d6752"]]},{"id":"7400a6f3.25d838","type":"ttn device","z":"c45f103b.55859","name":"Demo Device","app":"17fe8b4c.439415","dev_id":"prot1","event":"activations","x":129.00006866455078,"y":61.00001335144043,"wires":[["cd4b397a.8be788"]]},{"id":"293ab68b.58794a","type":"debug","z":"c45f103b.55859","name":"message","active":true,"console":"false","complete":"true","x":308.000057220459,"y":141.0000295639038,"wires":[]},{"id":"ba562003.8afa5","type":"debug","z":"c45f103b.55859","name":"function","active":true,"console":"false","complete":"true","x":790.0000495910645,"y":266.0000057220459,"wires":[]},{"id":"c5a460.aa449ba","type":"function","z":"c45f103b.55859","name":"function","func":"if (msg.payload.distance !== undefined){\n    return {\n        data: {\n            distance: msg.payload.distance,\n            stamp: new Date(),\n        }\n    };    \n}\n","outputs":"1","noerr":0,"x":470.2140197753906,"y":264.71434593200684,"wires":[["e80216bf.30b2a8"]]},{"id":"e80216bf.30b2a8","type":"switch","z":"c45f103b.55859","name":"switch","property":"data.distance","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":620.0000495910645,"y":265.0000057220459,"wires":[["ba562003.8afa5","fdb4b026.b5c13"]]},{"id":"fdb4b026.b5c13","type":"crate out","z":"c45f103b.55859","name":"Crate DB Demo","database":"11b653f7.7dbbac","table":"demo","x":810.2140312194824,"y":327.42834091186523,"wires":[]}]