data/nodered/lib/flows/Demo.json
[{"id":"b37876c9.ee43e8","type":"ttn message","z":"c3538e08.70d6b","name":"Demo Device","app":"fb3f103a.9339d","dev_id":"prot1","field":"","x":99.99995040893555,"y":158.9999942779541,"wires":[["4f004157.56fa7","ffffdedb.b4b14"]]},{"id":"f60dc489.910288","type":"debug","z":"c3538e08.70d6b","name":"device","active":true,"console":"false","complete":"true","x":270,"y":80,"wires":[]},{"id":"d3feaf1d.f9068","type":"ttn send","z":"c3538e08.70d6b","name":"Demo Device","app":"fb3f103a.9339d","dev_id":"prot1","port":"","x":460,"y":220,"wires":[]},{"id":"4f004157.56fa7","type":"function","z":"c3538e08.70d6b","name":"function","func":"return {\n    dev_id: msg.dev_id,\n    port: msg.port,\n    payload: {\n        distance: parseFloat(msg.payload.distance)\n    }\n};","outputs":1,"noerr":0,"x":279,"y":218.99999904632568,"wires":[["3e578dbf.fabe32","d3feaf1d.f9068"]]},{"id":"b8c81284.33a68","type":"ttn device","z":"c3538e08.70d6b","name":"Demo Device","app":"fb3f103a.9339d","dev_id":"prot1","event":"activations","x":99.00001907348633,"y":80.00000762939453,"wires":[["f60dc489.910288"]]},{"id":"ffffdedb.b4b14","type":"debug","z":"c3538e08.70d6b","name":"message","active":true,"console":"false","complete":"true","x":278.00000762939453,"y":160.0000238418579,"wires":[]},{"id":"e36f20bb.d27cb","type":"debug","z":"c3538e08.70d6b","name":"function","active":true,"console":"false","complete":"true","x":760,"y":285,"wires":[]},{"id":"3e578dbf.fabe32","type":"function","z":"c3538e08.70d6b","name":"function","func":"if (msg.payload.distance !== undefined){\n    return {\n        data: {\n            distance: msg.payload.distance,\n            stamp: new Date(),\n        }\n    };    \n}\n","outputs":"1","noerr":0,"x":440.2139701843262,"y":283.71434020996094,"wires":[["33820957.7deb46"]]},{"id":"33820957.7deb46","type":"switch","z":"c3538e08.70d6b","name":"switch","property":"data.distance","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":590,"y":284,"wires":[["e36f20bb.d27cb","859a2428.be4bc8"]]},{"id":"859a2428.be4bc8","type":"crate out","z":"c3538e08.70d6b","name":"Crate DB Demo","database":"9162773.05e0d88","table":"demo","x":780.213981628418,"y":346.42833518981934,"wires":[]},{"id":"fb3f103a.9339d","type":"ttn app","z":"","appId":"uh17-ibin","region":"eu","accessKey":"ttn-account-v2.LFpgz6jw7_Zfqyy_wPsYbcdn5VNPujqrR24ix6EDDGY"},{"id":"9162773.05e0d88","type":"crate","z":"","url":"http://localhost:4200","name":"Crate DB"}]